html {
  font-family: 'Helvetica Neue', Verdana, Arial, Helvetica, sans-serif;
  color: #333;
}

body {
  max-width: 32em;
  margin: 0 auto;
  padding: 0 10px;
}

p {
  line-height: 1.5em;
  text-align: justify;
}

a {
  color: #09f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 a {
  color: inherit;
}

img {
  max-width: 100%;
}
