html {
  background: #fff;
  color: #252519;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  line-height: 22px;
  margin: 0 auto;
  max-width: 820px;
  padding: 0 10px;
}

/* post list */
.po {
  padding-bottom: 1px;
}

/* left and right side columnds */

.left, .right {
  display: inline;
  float: left;
  margin: 0 10px;
  padding-top: 72px;
}

.left {
  position: fixed;
  text-align: center;
  width: 280px;
}

.right {
  padding-left: 300px;
  width: 500px;
}

img.up {
  display: block;
  margin: 0 auto;
  max-width: 100px;
}

.ml, .ml:visited, .nl, .nl:visited {
  color: inherit;
}

.ml:hover {
  text-decoration: none;
}

.as {
  float: right;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  margin-bottom: 24px;
}

a, a:visited, .nl:hover {
  color: #09f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* code snippets */
.right pre {
  padding-left: 30px;
}

.right code {
  font-family: Monaco, Menlo, Consolas, "Lucida Console", monospace;
  font-size: 12px;
  line-height: 1em;
}

/* images/gifs */
.right img {
  max-width: 100%;
}

/* small screens... */
@media screen and (max-width: 820px) {
  .left {
    float: none;
    position: relative;
  }

  .right {
    float: none;
    max-width: 500px;
    padding: 0;
  }
}
