<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ site.title }} &ndash; {{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="author" content="{{ site.author }}">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}

  {% if site.github %}
  <link rel="stylesheet" href="/css/bundle.css">
  {% else %}
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/style.css">
  {% endif %}
</head>

<body>
<nav>
  <a href="/">{{ site.title }}</a>
  &copy; {{ site.cyear }} {{ site.author }}
</nav>

<small>{{ page.date | date_to_long_string }}</small>
<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
{{ content }}
</body>
</html>
