.monts {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica,Arial,sans-serif;
  text-transform: uppercase;
}

html {
  font-family: 'Lato', "Open Sans", Helvetica, Arial, sans-serif;
  background: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

body {
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.5em;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  line-height: 1em;
  font-family: 'Montserrat',"Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

#hero {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#hero h1 {
  margin: 0;
  padding-top: 50px;
  font-size: 4.9em;
  border-bottom: 3px solid;
}

#hero ul {
  list-style: none;
  margin: 0;
  margin-top: 5px;
  text-align: center;
  padding: 0;
}

#hero ul li {
  display: inline;
  font-size: 20px;
  padding-right: 9px;
  border-right: 2px solid;
  margin-right: 5px;
}

#hero ul li:last-child {
  border-right: 0;
}

#hero ul li a {
  color: inherit;
}

h1.block-head {
  margin-top: 40px;
}

#festo {
  list-style: none;
  padding: 0;
  font-family: Palatino, Georgia, "Times New Roman", Times, serif;
}

#festo li h2 {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#festo li p, #skills li p {
  text-align: justify;
}

#festo li.the-line p {
  text-align: center;
  font-style: italic;
}

#skills {
  border-top: 3px solid #000;
  margin-top: 0;
  list-style: none;
  padding: 0;
}

#skills li {
  padding: 20px 25px;
}

#skills li h1 {
  font-size: 2em;
  border: 0;
  margin-top: 0;
}

#skills li p {
  margin-top: 20px;
}

#skills li:last-child {
  border-radius: 0 0 3px 3px;
}

a {
  color: #09f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active, a:focus {
  position: relative;
  top: 1px;
}

@media screen and (max-width: 500px) {
  section, #festo {
    padding: 0 10px;
  }

  #skills li {
    padding: 20px 10px;
  }

  #hero h1 {
    padding: 0;
  }

  #hero ul li {
    font-size: 16px;
  }
}
